.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--navy-blue);
  background-image:
    linear-gradient(#2E2F42B2, #2E2F42B2),
    url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /* Плавный переход для ховера строго по ТЗ */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-dur-func);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}
